<a href="https://colab.research.google.com/github/keithferns98/Advance-py/blob/main/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 num=range(1,100)
 total=0
 for i in num:
   total=total+i

In [2]:
print(total)

4950

In [3]:
k=0
for i in range(1,100):
  if i:
    k+=i

In [14]:
class Employee:
  def __init__(self,f_name,l_name,pay):
    self.f_name=f_name
    self.l_name=l_name
    self.pay=pay
    self.email=f_name + '.' + l_name + '@company.co m'
  def full_name(self):
    return ('{}{}'.format(self.f_name,self.l_name))

In [15]:
em1=Employee('Keith','Ferns',50000)

In [16]:
print(em1.full_name())

KeithFerns

In [64]:
class Emp:
  raise_no=2
  no_of_emps=0
  def __init__(self,fname,lname,pay):
    
    self.fname=fname
    self.lname=lname
    self.pay=pay
    self.email=fname + '.' + lname + '@company.com'
    Emp.no_of_emps+=1
  def full_name(self):
      return '{} {}'.format(self.fname,self.lname)
  def apply_raise(self):
      self.pay=int(self.pay*self.raise_no)
      
emp1=Emp('Keith','Fernandes',55000)
emp2=Emp('Test','OK',35000)

In [65]:
print(emp1.pay)
emp1.apply_raise()
print(emp1.pay)
print(emp1.raise_no)
print(Emp.no_of_emps)

55000
110000
2
2

In [58]:
print(emp1.__dict__)

{'fname': 'Keith', 'lname': 'Fernandes', 'pay': 220000, 'email': 'Keith.Fernandes@company.com'}

In [60]:
print(Emp.__dict__)

{'__module__': '__main__', 'raise_no': 2, '__init__': <function Emp.__init__ at 0x7f595fb5e9e0>, 'full_name': <function Emp.full_name at 0x7f595fb5edd0>, 'apply_raise': <function Emp.apply_raise at 0x7f595fb5e560>, '__dict__': <attribute '__dict__' of 'Emp' objects>, '__weakref__': <attribute '__weakref__' of 'Emp' objects>, '__doc__': None}

In [77]:
class Emp:
  raise_no=2
  no_of_emps=0
  def __init__(self,fname,lname,pay):
    
    self.fname=fname
    self.lname=lname
    self.pay=pay
    self.email=fname + '.' + lname + '@company.com'
    Emp.no_of_emps+=1
  def full_name(self):
      return '{} {}'.format(self.fname,self.lname)
  def apply_raise(self):
      self.pay=int(self.pay*self.raise_no)
  @classmethod
  def set_raise_amt(cls,amount):
    cls.raise_no=amount
  @classmethod
  def string_form(cls,str):
    first,last,pay=str.split('-')
    return cls(first,last,pay)
Emp.set_raise_amt(1.5)
emp1=Emp('Keith','Fernandes',55000)
emp2=Emp('Test','OK',35000)
emp1.apply_raise()
print(emp1.pay)

emp_str_1 = 'John-Doe-70000'
emp_str_2 = 'Steve-Smith-30000'
emp_str_3 = 'Jane-Doe-90000'

new_emp= Emp.string_form(emp_str_1)
print(new_emp.email)

82500
John.Doe@company.com

In [83]:
class Emp:
  raise_no=2
  no_of_emps=0
  def __init__(self,fname,lname,pay):
    
    self.fname=fname
    self.lname=lname
    self.pay=pay
    self.email=fname + '.' + lname + '@company.com'
    Emp.no_of_emps+=1
  def full_name(self):
      return '{} {}'.format(self.fname,self.lname)
  def apply_raise(self):
      self.pay=int(self.pay*self.raise_no)
  @classmethod
  def set_raise_amt(cls,amount):
    cls.raise_no=amount
  @classmethod
  def string_form(cls,str):
    first,last,pay=str.split('-')
    return cls(first,last,pay)


  @staticmethod
  def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True
import datetime
my_date=datetime.date(2016, 7, 10)
print(Emp.is_workday(my_date))

Emp.set_raise_amt(1.5)
emp1=Emp('Keith','Fernandes',55000)
emp2=Emp('Test','OK',35000)
emp1.apply_raise()
print(emp1.pay)

emp_str_1 = 'John-Doe-70000'
emp_str_2 = 'Steve-Smith-30000'
emp_str_3 = 'Jane-Doe-90000'

new_emp= Emp.string_form(emp_str_1)
print(new_emp.email)

False
82500
John.Doe@company.com